body {
    background-color: pink;
    font-style: oblique;
    display:flex ;

  }
   .image {
      float: none; 
   }

   .parahraph {
     display: block;
     width:auto
   }
  @media only screen and (max-width: 600px) {
p {
    display:none;
}
 }
  @media only screen and (max-width: 600px) {
      h1 {
          display:none;
      }
  }